.dashboard-container {
  display: flex;
  height: 100vh;

  .dash-sections {
    background-color: #f5f5f5;
    position: absolute;
    height: 100%;
    width: calc(100% - 106px);
    left: 106px;
    transition: all 0.5s ease;
  }
  .dash-sections-active {
    background-color: #f5f5f5;
    position: absolute;
    height: 100%;
    width: calc(100% - 268px);
    left: 268px;
  }
}
