.my-picks-container {
  min-height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  .my-picks-content {
    width: 60%;
    margin: 2rem 0;
    h2 {
      color: var(--primary-color);
      font-weight: 700;
      font-size: 2rem;
    }
    .total-scores {
      width: 60%;
      margin: 1rem auto;
      display: flex;
      justify-content: space-between;
      text-align: center;
      h3,
      p {
        font-weight: 700;
      }
    }
  }
}
