.week-form {
  margin: 1rem 0;
}

.picks-form {
  background: white;
  width: 80%;
  border-radius: 20px;
  padding-left: 1rem;
  .pick-title {
    font-size: 1.5rem;
    padding: 1rem 0 0.5rem;
  }
  .pick-instructions {
    padding-bottom: 1rem;
  }
  .pick-row {
    display: flex;
    width: 100%;
  }

  .pick-box {
    width: 33%;
    margin: 5px 1rem 5px 0;
    padding: 5px 8px;
    border: 1px solid black;
    border-radius: 5px;
    .pick {
      &:hover {
        cursor: pointer;
      }
    }
    .pick-spread {
      display: none;
    }
  }
}

.picked {
  border: 1px solid var(--success-color);
  .pick-spread {
    display: inline-block;
  }
}
